/*Carousel*/
* {
  box-sizing: border-box;
}



.mySlides{
  display: none;
}

.slideshow-container{
  max-width: 100%;
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*end of carousel*/

/*zoom buttons*/

#intro{
 font-size: 15pt;
 transition: font 0.5s ease-out;
}

#container{
 border-radius: 8px;
 padding: 15px;
}

.btnBig, .btnSmall{
 background-color: CornflowerBlue;
 border-radius: 30px;
 border: none;
 color: #fff
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
 margin: 4px 2px;
 cursor: pointer;
}

.btnBig:hover, .btnSmall:hover {
 background-color: black;
 color: #fff;
}

/*end of zoom*/


#first {
  text-align: center;
}

#firstDiv {
  margin: 0% 5% 0% 5%;
}

.column1, .column2 {
  float: left;
  padding: 10px;
}

.column1 {
  width: 40%;
  margin-left: 5%;
}

.column2 {
  width: 40%;
  float: right;
  margin-right: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 600px) {
  .column1, .column2 {
     width: 100%;
  }
}
/*form*/
form {
  background: white;
  padding: 5px 10px 20px 20px;
}

fieldset {
  border-color: black;
}
/*end of form*/


.column1Z, .column2Z {
  float: left;
  padding: 10px;
}

.column1Z {
  width: 5%;
  margin-left: 5%;
}

.column2Z  {
  width: 75%;
  float: right;
  margin-right: 5%;
}

.rowZ::after {
  content: "";
  display: table;
  clear: both;
}

#intro
